In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('autos.csv')
data.head()

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
1,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,16500
2,1,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9,154,5000,19,26,16500
3,2,audi,gas,std,4,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10,102,5500,24,30,13950
4,2,audi,gas,std,4,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8,115,5500,18,22,17450

In [3]:
data.isnull().sum()

symboling            0
make                 0
fuel_type            0
aspiration           0
num_of_doors         0
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_of_cylinders     0
engine_size          0
fuel_system          0
bore                 0
stroke               0
compression_ratio    0
horsepower           0
peak_rpm             0
city_mpg             0
highway_mpg          0
price                0
dtype: int64

+ Average Price per Make

In [4]:
data['Ave_Price_Make'] = data.groupby('make')['price'].transform('mean')

In [5]:
data.head(3)

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,Ave_Price_Make
0,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9,111,5000,21,27,13495,15498.333333
1,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9,111,5000,21,27,16500,15498.333333
2,1,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9,154,5000,19,26,16500,15498.333333

In [6]:
data['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'saab',
       'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [7]:
data['make'].value_counts(ascending=True)

mercury           1
isuzu             2
jaguar            3
chevrolet         3
alfa-romero       3
porsche           4
saab              6
audi              6
plymouth          7
mercedes-benz     8
bmw               8
dodge             8
peugot           11
volvo            11
volkswagen       12
subaru           12
mazda            12
mitsubishi       13
honda            13
nissan           18
toyota           32
Name: make, dtype: int64

+ Make Count

In [8]:
data['make_count'] = data.groupby('make')['make'].transform('count')
data.head(7)

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,Ave_Price_Make,make_count
0,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9,111,5000,21,27,13495,15498.333333,3
1,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9,111,5000,21,27,16500,15498.333333,3
2,1,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,2.68,3.47,9,154,5000,19,26,16500,15498.333333,3
3,2,audi,gas,std,4,sedan,fwd,front,99.8,176.6,...,3.19,3.40,10,102,5500,24,30,13950,17859.166667,6
4,2,audi,gas,std,4,sedan,4wd,front,99.4,176.6,...,3.19,3.40,8,115,5500,18,22,17450,17859.166667,6
5,2,audi,gas,std,2,sedan,fwd,front,99.8,177.3,...,3.19,3.40,8,110,5500,19,25,15250,17859.166667,6
6,1,audi,gas,std,4,sedan,fwd,front,105.8,192.7,...,3.19,3.40,8,110,5500,19,25,17710,17859.166667,6

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          193 non-null    int64
 1   make               193 non-null    object
 2   fuel_type          193 non-null    object
 3   aspiration         193 non-null    object
 4   num_of_doors       193 non-null    int64
 5   body_style         193 non-null    object
 6   drive_wheels       193 non-null    object
 7   engine_location    193 non-null    object
 8   wheel_base         193 non-null    float64
 9   length             193 non-null    float64
 10  width              193 non-null    float64
 11  height             193 non-null    float64
 12  curb_weight        193 non-null    int64
 13  engine_type        193 non-null    object
 14  num_of_cylinders   193 non-null    int64
 15  engine_size        193 non-null    int64
 16  fuel_system        193 non-null    object
 17  bore               193 non-null    float64
 18  stroke             193 non-null    float64
 19  compression_ratio  193 non-null    int64
 20  horsepower         193 non-null    int64
 21  peak_rpm           193 non-null    int64
 22  city_mpg           193 non-null    int64
 23  highway_mpg        193 non-null    int64
 24  price              193 non-null    int64
 25  Ave_Price_Make     193 non-null    float64
 26  make_count         193 non-null    int64
dtypes: float64(7), int64(12), object(8)
memory usage: 40.8+ KB

In [10]:
num_data = data.select_dtypes(exclude = 'object')
cat_data = data.select_dtypes('object')

In [11]:
num_data.head()

,symboling,num_of_doors,wheel_base,length,width,height,curb_weight,num_of_cylinders,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,Ave_Price_Make,make_count
0,3,2,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,9,111,5000,21,27,13495,15498.333333,3
1,3,2,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,9,111,5000,21,27,16500,15498.333333,3
2,1,2,94.5,171.2,65.5,52.4,2823,6,152,2.68,3.47,9,154,5000,19,26,16500,15498.333333,3
3,2,4,99.8,176.6,66.2,54.3,2337,4,109,3.19,3.40,10,102,5500,24,30,13950,17859.166667,6
4,2,4,99.4,176.6,66.4,54.3,2824,5,136,3.19,3.40,8,115,5500,18,22,17450,17859.166667,6

In [13]:
num_data.describe()

,symboling,num_of_doors,wheel_base,length,width,height,curb_weight,num_of_cylinders,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,Ave_Price_Make,make_count
count,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000
mean,0.797927,3.160622,98.923834,174.326425,65.893782,53.869948,2561.507772,4.419689,128.124352,3.330622,3.248860,9.860104,103.481865,5099.740933,25.326425,30.787565,13285.025907,13285.025907,14.098446
std,1.235582,0.989583,6.152409,12.478593,2.137795,2.394770,526.700026,1.023182,41.590452,0.272385,0.315421,4.002098,37.960107,468.694369,6.387828,6.816910,8089.082886,7227.167265,8.822063
min,-2.000000,2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,3.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000,6007.000000,1.000000
25%,0.000000,2.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,4.000000,98.000000,3.150000,3.110000,8.000000,70.000000,4800.000000,19.000000,25.000000,7738.000000,9239.769231,8.000000
50%,1.000000,4.000000,97.000000,173.200000,65.400000,54.100000,2414.000000,4.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5100.000000,25.000000,30.000000,10245.000000,9885.812500,12.000000
75%,2.000000,4.000000,102.400000,184.600000,66.900000,55.700000,2952.000000,4.000000,146.000000,3.590000,3.410000,9.000000,116.000000,5500.000000,30.000000,34.000000,16515.000000,15489.090909,18.000000
max,3.000000,4.000000,120.900000,208.100000,72.000000,59.800000,4066.000000,12.000000,326.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000,34600.000000,32.000000

In [16]:
num_data.var()

symboling            1.526662e+00
num_of_doors         9.792746e-01
wheel_base           3.785214e+01
length               1.557153e+02
width                4.570169e+00
height               5.734926e+00
curb_weight          2.774129e+05
num_of_cylinders     1.046902e+00
engine_size          1.729766e+03
bore                 7.419336e-02
stroke               9.949036e-02
compression_ratio    1.601679e+01
horsepower           1.440970e+03
peak_rpm             2.196744e+05
city_mpg             4.080435e+01
highway_mpg          4.647026e+01
price                6.543326e+07
Ave_Price_Make       5.223195e+07
make_count           7.782880e+01
dtype: float64

In [12]:
cat_data.head()

,make,fuel_type,aspiration,body_style,drive_wheels,engine_location,engine_type,fuel_system
0,alfa-romero,gas,std,convertible,rwd,front,dohc,mpfi
1,alfa-romero,gas,std,convertible,rwd,front,dohc,mpfi
2,alfa-romero,gas,std,hatchback,rwd,front,ohcv,mpfi
3,audi,gas,std,sedan,fwd,front,ohc,mpfi
4,audi,gas,std,sedan,4wd,front,ohc,mpfi

In [17]:
cat_data.nunique()

make               21
fuel_type           2
aspiration          2
body_style          5
drive_wheels        3
engine_location     2
engine_type         5
fuel_system         7
dtype: int64